# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Build artifacts
*.bin
*.elf
*.hex
*.bmp
tools/simulator/simulator
